body {
    background-image: url('https://www.open.edu/openlearn/ocw/pluginfile.php/1398625/mod_oucontent/oucontent/72086/5760c3c4/2d4a7735/ou_futurelearn_orion_fig_1127.jpg');
    background-size: cover;
}
h1 {
    color: white;
}